/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E3F2FD;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

main {
    margin: 20px;
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.whatsapp-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #1DAF5A;
    transform: scale(1.05);
}

footer {
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.product-container {
    border: 2px solid #007BFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
}

.info-button {
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #A9A9A9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.info-button:hover {
    background-color: #808080;
    transform: scale(1.05);
}

.home-icon {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.5em;
    text-align: center;
    line-height: 50px;
}

.home-icon:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}